body {
  background-color: #e0d6cc;
}
.pad {
  padding-left: 70px;
  padding-right: 70px;
}
.body-2 {
  background-color: #e0d6cc;
  display: flex;
  flex-direction: column;
  padding-right: 70px;
  align-items: center;
  font-size: xx-large;
}
