.cont {
  height: 100vh;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "side-bar main";
}
.side-bar {
  background-color: #e3a78a;
  grid-area: side-bar;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.main {
  background-color: #e3d3b6;
  grid-area: main;
}
.hose {
  padding-top: 430px;
}
.portfolio {
  font-weight: 800;
  font-size: 30px;
}
.me {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 130px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #b86656;
}
.best {
  font-size: 50px;
  color: #e08b7b;
  padding-bottom: 20px;
}
.code-pics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  justify-items: center;
}
.picz {
  border-radius: 20px;
  border: 5px solid #7a3d30;
}
.picz:hover {
  transform: scale(1.03);
}
@media (max-width: 1280px) {
  .code-pics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-items: center;
  }
}
@media (max-width: 960px) {
  .code-pics {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    justify-items: center;
  }
  .me {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 90px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: #b86656;
  }
  .best {
    font-size: 40px;
    color: #e08b7b;
    padding-bottom: 20px;
  }
}
@media (max-width: 860px) {
  .me {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: #b86656;
  }
  .best {
    font-size: 20px;
    color: #e08b7b;
    padding-bottom: 20px;
  }
  .side-bar {
    width: 180px;
    gap: 30px;
  }
  .hose {
    position: relative;
    top: 590px;
  }
}
