body {
  background-color: #e3d3b6;
}
.Contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dee {
  padding-top: 400px;
}
